li {
  padding: 5px;
  margin: 5px;
  background: #FFE4B5;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #FFA07A;
}

.form-group {
  margin-bottom: 5px;
}
